<html>
<head>
  <!--
  Button That takes cook/Manger to sprate login Page

  -->




  <link rel="stylesheet" href="css/style.css"/>
  <link rel ="stylesheet" href="public/stylesheets/style.css"/>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>


  <script type="text/javascript" src="js/login.js"></script>
</head>
<body>
<div class="container">
  <div class="main">
    <form class="form" method="post" action="#">
      <h2>Just Much Login</h2>
      <label>Username :</label>
      <input type="text" name="username" id="user">
      <label>Password :</label>
      <input type="password" name="password" id="password">
      <input type="button" name="login" id="login" value="Login">
    </form>
    <button id ="" onclick="">Login as Staff Member </button>
  </div>
</div>
</body>
</html>