<!DOCTYPE html>
<html>
<body>
<head>

	<link href ="public/stylesheets/style.css" rel="stylesheet">


	<link  href="css/themes/my-custom-theme.css" />
	<link  href="css/themes/jquery.mobile.icons.min.css" />
	<link  href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />

	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<link href="routes/users.js">


</head>

<script>
	var myCart = [];
	var Checkout ={};

	var  prices =["3","5","1","0.50","2"];

</script>



<div data-role="page">

	<div data-role="header">
		<link rel="stylesheet" type="text/stylesheet" href="public/stylesheet/style.css" />
		<h1>Just Much</h1>
		<p><img src="public/images/Logo.jpg" alt="Image" height="100" width="100"></p>
		<form action="#">
			<fieldset>
				<label for="salutation"></label>
				<select name="salutation" id="salutation">
					<option disabled selected><img src='public/images/dropMenu.png' alt="Image" >Logout </option>
					<option>Logout
					</option>
				</select>
			</fieldset>

		</form>
	</div><!-- /header -->
	<!--- Customer Page ----->
	<div role="main" class="ui-content">
		<p>Please Select from Menu </p>

		<!---Menu------>


		<div class="Menu">


			<p><img src='public/images/Double-Cheeseburger.jpg' alt="Image" height="200" width="200"></p>
			<p align="center"><a>Double Cheeseburger $3</a></p>
			<select id="Double_Cheeseburger_qty" name="select-native-1" id="select-native-1" data-mini="true"  >

				<option value="">Choose an quantity</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
			</select>
			<button id="addToCart" onclick="addToCart('Double_Cheeseburger_qty')" name="3"> Add To Cart </button>

			<p><img src='public/images/pizza.jpg' alt="Image" height="200" width="200"></p>
			<p align="center"><a>Pizza $5</a></p>
			<select id="pizza_qty" name="select-native-2" id="select-native-2" data-mini="true">
				<option value="">Choose an quantity</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
			</select>
			<button id="addToCart" onclick="addToCart('pizza_qty')"name="5"> Add To Cart </button>

			<p><img src='public/images/Chips.jpg' alt="Image" height="200" width="200"></p>
			<p align="center"><a>Chips $2</a></p>
			<select id="Chips_qty" name="select-native-3" id="select-native-3" data-mini="true">
				<option value="">Choose an quantity</option>
				<option value="1">1 </option>
				<option value="2">2 </option>
				<option value="3">3 </option>
				<option value="4">4 </option>
			</select>
			<button id="addToCart" onclick="addToCart('Chips_qty')"name="2"> Add To Cart </button>

			<p><img src='public/images/Mayo.jpg' alt="Image" height="200" width="200"></p>
			<p align="center"><a>Spicy Mayo $0.50</a></p>
			<select id="Spicy_Mayo_qty" name="select-native-3" id="select-native-4" data-mini="true">
				<option value="">Choose an quantity</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
			</select>
			<button id="addToCart" onclick="addToCart('Spicy_Mayo_qty')"name="0.50"> Add To Cart </button>

			<p><img src='public/images/coke.jpg' alt="Image" height="200" width="200"></p>
			<p align="center"><a>Coke $1</a></p>
			<select id="Coke_qty" name="select-native-5" id="select-native-5" data-mini="true">
				<option value="">Choose an quantity</option>
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
			</select>
			<button id="addToCart" onclick="addToCart('Coke_qty');" name="1" > Add To Cart </button>





		</div>
		<!---end of menu----->



		<!---Checkout Section----->






			<button id="add-order" type="submit" >Purchase</button>

			<button id="clear-cart">Clear Cart</button>
		</div>




		<div data-role="footer">
		</div><!-- /footer -->
	</div><!-- /page -->
	<!-- /content -->
	<script>
		//Store  items into database

		function addToCart(itemName){

			// finding out the name of the ITEM we are adding
			var item = itemName;

			console.log("Item Name:"+" "+item);

			// dynamically find out the qty
			var qty = $('#'+item).children("option:selected").val();

			var x = 0;
			var Sum =parseInt(x);
			var TotalPrice =0;
			if(item =="Double_Cheeseburger_qty"){
				console.log("Works")
				var y = prices[0];
				var price =parseInt(y)
				TotalPrice = price * qty;


			}
			else if(item == "pizza_qty"){
				var a = prices[1];
				var price = parseInt(a);
				TotalPrice =price * qty;

			}
			else if(item == "Chips_qty"){
				var a = prices[2];
				var price = parseInt(a);
				TotalPrice =price * qty;

			}
			else if(item == "Spicy_Mayo_qty"){
				var a = prices[3];
				var price = parseFloat(a);
				TotalPrice =price * qty;

			}
			else if(item == "Coke_qty"){
				var a = prices[4];
				var price = parseInt(a);
				TotalPrice =price * qty;

			}




			console.log("Price:"+" "+price);
			console.log("Quantity:"+" "+qty);
			console.log("Total Price:"+" "+TotalPrice);
			// search the cart and see if we already added
			// the item. If we did, remove the old qty.

			myCart.forEach(function(itemCurrent, index, array) {



				if(itemCurrent.includes(item)){
					console.log("Removing previous reference to " + item);
					myCart.pop(index);
				}
			});


			// add the item to the cart
			myCart.push(item + '-' + qty);

			alert(myCart);



			function getTotal() {
				let total = 0
				for (let i = 0; i < myCart.length; i += 1) {
					total += myCart[i].price * myCart[i].qty
				}
				return total.toFixed(2)
			}

			function updateCart(name, qty) {
				for (let i = 0; i < myCart.length; i += 1) {
					if (myCart[i].item === name) {
						myCart[i].qty = qty

						return true
					}
				}
				return false
			}










		}

	</script>





	<!--end Script---->







	<div data-role="footer">
		<h4>Page Footer</h4>
	</div><!-- /footer -->

</div><!-- /page -->
</body>
</html>
