<!DOCTYPE html>
<html>
<body>
<head>

    <link href ="public/stylesheets/style.css" rel="stylesheet">
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link href="routes/users.js">


</head>




<div data-role="page">

    <div data-role="header">
        <link rel="stylesheet" type="text/stylesheet" href="public/stylesheet/style.css" />
        <h1>Just Much Manager </h1>
        <p><img src="public/images/Logo.jpg" alt="Image" height="100" width="100"></p>
        <form action="#">
            <fieldset>
                <label for="salutation"></label>
                <select name="salutation" id="salutation">
                    <option disabled selected><img src='public/images/dropMenu.png' alt="Image" > </option>
                    <option>Logout </option>
                </select>
            </fieldset>

        </form>
    </div><!-- /header -->
    <!--- Customer Page ----->
    <div role="main" class="ui-content">
        <button id="test" type="submit" class="btn btn-success" >Check Orders</button>

    </div>
        <!---Menu------>
        <div id="txt-hint">
            <b>Display Data using Node.js & MySQL</b>


        </div>


        <!---end of menu----->









        <div data-role="footer">
            <h4>Page Footer</h4>
        </div><!-- /footer -->
    </div><!-- /page -->
    <!-- /content -->




    <!--Scripts---->
    <script>

    </script>





    <!--end Script---->







    <div data-role="footer">
        <h4>Page Footer</h4>
    </div><!-- /footer -->

</div><!-- /page -->
</body>
</html>

