<html>
<head>


  <link rel="stylesheet" href="css/style.css"/>
  <link rel ="stylesheet" href="public/stylesheets/style.css"/>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>


  <script type="text/javascript" src="js/login.js"></script>
</head>
<body>
<div class="container">
  <div class="main">
    <form class="form" method="post" action="Register.ejs">
      <h2>Just Much Sign up</h2>
      <label>Email :</label>
      <input type="text"  id="email" placeholder="Email...">
      <label>Username :</label>
      <input type="text" name="username" id="user">
      <label>Password :</label>
      <input type="password" name="password" id="password">
      <input type="button" name="Sign up" id="Signup" value="Signup">
    </form>
  </div>
</div>
<script>
  $(document).ready(function () {
       console.log("Working Page");
       $("#Signup").on("click",function () {
         var email = $("#email").val();
         var username = $("#user").val();
         var password = $("#password").val();
         //Check if working
         console.log(email);
         console.log(username);
         console.log(password);

         //Vaildate
         if (email == "" || password == "" || username == "") {
           alert("Please fill in the fields")

           $.ajax(
                   {
                     url: "Register.ejs",
                     data: {
                       Signup: 1,
                       email: email,
                       password: password
                     },

                     success: function (response) {
                       console.log(response);
                     },
                     dataType: "text"

                   }
           );
         };

       });
  });

</script>



</body>
</html>